table{
     margin: auto;
     transition: all 2s linear;
     /* width: 500px; */
     background: #ccc;
     border-radius: 5px; ;

}
table tr td{
     padding: 10px;
}
table button{
     width: 40px;
     height: 40px;
     background: purple;
     color: white;
     border: none;
     border-radius: 50%;
     cursor: pointer;
}
table button:hover{
     color: yellow;
}
table input{
     width: 90%;
     border-radius: 10px;
     height: 40px;
     text-align: right;
     padding-right: 10px;
}